<!DOCTYPE html>
<html>
  <head>"회원가입 완료"</head>
  <body>
    <h1>"회원가입을 축하합니다."</h1>
    <td id="signupContainer" align="left"><input id="submitButton" class="ui primary button" type="submit" onclick="location.href='/firebase_login.html' " value="로그인" name="" /></td>
  </body>
</html>
