<footer class="footer">
    <div class="container">
        <p class="text-muted text-center">'시립 요모: 시립대 요번주 모하나'<br>
            <small>서울시립대학교 일정·행사 통합 시간표 서비스</small><br>
            <small>팀 조재훈 © 2019</small>
        </p>  
    </div>
</footer>