<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>list page</title>
    <link rel='stylesheet' href='/stylesheets/list.css' />
  </head>
 
  <body>
    <% var dayArray = new Array(); %>
    <% for (let i=0; i<=4; i++) { %>
        
        <% if (event_array[i].str <=date && event_array[i].end >=date) { %>
            <% dayArray.push(i); %>
        <% } %>
    <% } %>
    <% if (dayArray.length!=0) { %>  
    <% for (let i =0; i<dayArray.length; i++) { %>
    <details>
        
            
    	       <summary style=" border-style:solid; border-width:3px;" >
                   
    		      <div class="summary-title">  <%= event_array[dayArray[i]].event_title %> </div>
    		      <div class="summary-chevron-up">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18  9"></polyline></svg>
                  </div>
    	       </summary>
            
    	       <div class="summary-content">
               
                    <div class="panel panel-primary">
                
            
            
            
            
                   <div class = "panel-body">
                       <div class="col-md-4 text-left">
                            <img src="/public/upload/{{event_array[dayArray[i]].filename}}" style="width: 175px; height: 175px;" class="img-thumbnail">
                        </div>
                        <div class="col-md-7 text-align:right;">
                            <p> <%= event_array[dayArray[i]].description %> </p>    
                        </div>
                    </div>
                    <div class="panel-footer">
                    </div>
                
                </div>    
    	   <div class="summary-chevron-down">
    		  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline>
              </svg>
            </div>
        </div>
    </details>
    <% } %>
  <% } %>
  </body>
</html>
