<!DOCTYPE html>
<html>
  <head>"요모 로그인 실패"</head>
  <body>
    <h1>"동아리 명을 다시 확인해주세요"</h1>
    <td id="signupContainer" align="left"><input id="submitButton" class="ui primary button" type="submit" onclick="location.href='/firebase_login.html' " value="다시로그인" name="" /></td>
  </body>
</html>
