<!DOCTYPE html>
<html>
  <head>"요모 로그인 완료"</head>
  <body>
    <h1>"요모 로그인 확인되었어요."</h1>
    <td id="signupContainer" align="left"><input id="submitButton" class="ui primary button" type="submit" onclick="location.href='/' " value="메인으로 이동" name="" /></td>
  </body>
</html>
